<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <add key="Username" value="your username received in travelport welcome letter" />
      <add key="Password" value="your password received in travelport welcome letter" />
      <add key="1GTargetBranch" value="your 1G targetBranch/WAB received in travelport welcome letter" />
      <add key="1PTargetBranch" value="your 1P targetBranch/WAB received in travelport welcome letter" />
      <add key="1VTargetBranch" value="your 1V targetBranch/WAB received in travelport welcome letter" />
      <add key="TRMTargetBranch" value="your TRM targetBranch/WAB received in travelport welcome letter" />
      <add key="originApp" value="UAPI"/>
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelSearchServiceBinding" />
                <binding name="HotelMediaLinksServiceBinding" />
                <binding name="HotelDetailsServiceBinding" />
                <binding name="HotelRetrieveServiceBinding" />
                <binding name="HotelRulesServiceBinding" />
                <binding name="HotelUpsellSearchServiceBinding" />
                <binding name="HotelSearchAvailabilityAsynchServiceBinding" />
                <binding name="HotelKeywordsServiceBinding" />
                <binding name="HotelSuperShopperServiceBinding" />
                <binding name="RetrieveHotelSearchAvailabilityServiceBinding" />
                <binding name="UniversalRecordRetrieveServiceBinding" />
                <binding name="UniversalRecordHistorySearchServiceBinding" />
                <binding name="UniversalRecordSearchServiceBinding" />
                <binding name="AckScheduleChangeServiceBinding" />
                <binding name="UniversalRecordImportServiceBinding" />
                <binding name="UniversalRecordModifyServiceBinding" />
                <binding name="UniversalRecordCancelServiceBinding" />
                <binding name="ProviderReservationDisplayServiceBinding" />
                <binding name="ProviderReservationDivideServiceBinding" />
                <binding name="SavedTripCreateServiceBinding" />
                <binding name="SavedTripModifyServiceBinding" />
                <binding name="SavedTripRetrieveServiceBinding" />
                <binding name="SavedTripDeleteServiceBinding" />
                <binding name="SavedTripSearchServiceBinding" />
                <binding name="VehicleReservationServiceBinding" />
                <binding name="VehicleCancelServiceBinding" />
                <binding name="HotelReservationServiceBinding" />
                <binding name="HotelCancelServiceBinding" />
                <binding name="RailCreateReservationBinding" />
                <binding name="RailExchangeCreateReservationBinding" />
                <binding name="AirCreateReservationBinding" />
                <binding name="AirCancelBinding" />
                <binding name="AirMerchandisingFulfillmentBinding" />
                <binding name="PassiveReservationServiceBinding" />
                <binding name="PassiveCancelServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelSearchServiceBinding"
                contract="HotelService.HotelSearchServicePortType" name="HotelSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelMediaLinksServiceBinding"
                contract="HotelService.HotelMediaLinksServicePortType" name="HotelMediaLinksServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelDetailsServiceBinding"
                contract="HotelService.HotelDetailsServicePortType" name="HotelDetailsServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelRetrieveServiceBinding"
                contract="HotelService.HotelRetrieveServicePortType" name="HotelRetrieveServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelRulesServiceBinding"
                contract="HotelService.HotelRulesServicePortType" name="HotelRulesServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelUpsellSearchServiceBinding"
                contract="HotelService.HotelUpsellSearchServicePortType" name="HotelUpsellSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelSearchAvailabilityAsynchServiceBinding"
                contract="HotelService.HotelSearchAvailabilityAsynchServicePortType"
                name="HotelSearchAvailabilityAsynchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelKeywordsServiceBinding"
                contract="HotelService.HotelKeywordsServicePortType" name="HotelKeywordsServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelSuperShopperServiceBinding"
                contract="HotelService.HotelSuperShopperServicePortType" name="HotelSuperShopperServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService "
                binding="basicHttpBinding" bindingConfiguration="RetrieveHotelSearchAvailabilityServiceBinding"
                contract="HotelService.RetrieveHotelSearchAvailabilityServicePortType"
                name="RetrieveHotelSearchAvailabilityServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordRetrieveServiceBinding"
                contract="UniversalService.UniversalRecordRetrieveServicePortType"
                name="UniversalRecordRetrieveServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordHistorySearchService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordHistorySearchServiceBinding"
                contract="UniversalService.UniversalRecordHistorySearchPortType"
                name="UniversalRecordHistorySearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordSearchServiceBinding"
                contract="UniversalService.UniversalRecordSearchServicePortType"
                name="UniversalRecordSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/ScheduleChangeService"
                binding="basicHttpBinding" bindingConfiguration="AckScheduleChangeServiceBinding"
                contract="UniversalService.AckScheduleChangeServicePortType"
                name="AckScheduleChangeServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordImportServiceBinding"
                contract="UniversalService.UniversalRecordImportServicePortType"
                name="UniversalRecordImportServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordModifyServiceBinding"
                contract="UniversalService.UniversalRecordModifyServicePortType"
                name="UniversalRecordModifyServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordCancelServiceBinding"
                contract="UniversalService.UniversalRecordCancelServicePortType"
                name="UniversalRecordCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/ProviderReservationDisplayService"
                binding="basicHttpBinding" bindingConfiguration="ProviderReservationDisplayServiceBinding"
                contract="UniversalService.ProviderReservationDisplayServicePortType"
                name="ProviderReservationDisplayServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="ProviderReservationDivideServiceBinding"
                contract="UniversalService.ProviderReservationDivideServicePortType"
                name="ProviderReservationDivideServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripCreateService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripCreateServiceBinding"
                contract="UniversalService.SavedTripCreateServicePortType"
                name="SavedTripCreateServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripModifyService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripModifyServiceBinding"
                contract="UniversalService.SavedTripModifyServicePortType"
                name="SavedTripModifyServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripRetrieveService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripRetrieveServiceBinding"
                contract="UniversalService.SavedTripRetrieveServicePortType"
                name="SavedTripRetrieveServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripDeleteService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripDeleteServiceBinding"
                contract="UniversalService.SavedTripDeleteServicePortType"
                name="SavedTripDeleteServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripSearchService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripSearchServiceBinding"
                contract="UniversalService.SavedTripSearchServicePortType"
                name="SavedTripSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/VehicleService"
                binding="basicHttpBinding" bindingConfiguration="VehicleReservationServiceBinding"
                contract="UniversalService.VehicleReservationServicePortType"
                name="VehicleReservationServicePort" />
            <endpoint address="http://localhost:8080/kestrel/VehicleService"
                binding="basicHttpBinding" bindingConfiguration="VehicleCancelServiceBinding"
                contract="UniversalService.VehicleCancelServicePortType" name="VehicleCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelReservationServiceBinding"
                contract="UniversalService.HotelReservationServicePortType"
                name="HotelReservationServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelCancelServiceBinding"
                contract="UniversalService.HotelCancelServicePortType" name="HotelCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/RailService"
                binding="basicHttpBinding" bindingConfiguration="RailCreateReservationBinding"
                contract="UniversalService.RailCreateReservationPortType"
                name="RailCreateReservationPort" />
            <endpoint address="http://localhost:8080/kestrel/RailService"
                binding="basicHttpBinding" bindingConfiguration="RailExchangeCreateReservationBinding"
                contract="UniversalService.RailExchangeCreateReservationPortType"
                name="RailExchangeCreateReservationPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirCreateReservationBinding"
                contract="UniversalService.AirCreateReservationPortType" name="AirCreateReservationPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirCancelBinding"
                contract="UniversalService.AirCancelPortType" name="AirCancelPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingFulfillmentBinding"
                contract="UniversalService.AirMerchandisingFulfillmentPortType"
                name="AirMerchandisingFulfillmentPort" />
            <endpoint address="http://localhost:8080/kestrel/PassiveService"
                binding="basicHttpBinding" bindingConfiguration="PassiveReservationServiceBinding"
                contract="UniversalService.PassiveReservationServicePortType"
                name="PassiveReservationServicePort" />
            <endpoint address="http://localhost:8080/kestrel/PassiveService"
                binding="basicHttpBinding" bindingConfiguration="PassiveCancelServiceBinding"
                contract="UniversalService.PassiveCancelServicePortType" name="PassiveCancelServicePort" />
        </client>
    </system.serviceModel>
</configuration>