<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Username" value="your username received in travelport welcome letter" />
    <add key="Password" value="your passowrd received in travelport welcome letter" />
    <add key="1GTargetBranch" value="your 1G targetBranch/WAB received in travelport welcome letter" />
    <add key="1PTargetBranch" value="your 1P targetBranch/WAB received in travelport welcome letter" />
    <add key="1VTargetBranch" value="your 1V targetBranch/WAB received in travelport welcome letter" />
    <add key="TRMTargetBranch" value="your TRM targetBranch/WAB received in travelport welcome letter" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AirRepriceSearchBinding" />
        <binding name="AirScheduleSearchBinding" />
        <binding name="AirLowFareSearchBinding" />
        <binding name="AirLowFareSearchAsynchBinding" />
        <binding name="AirRetrieveLowFareSearchBinding" />
        <binding name="AirPriceBinding" />
        <binding name="AirFareRulesBinding" />
        <binding name="AirAvailabilitySearchBinding" />
        <binding name="AirFareDisplayBinding" />
        <binding name="SeatMapBinding" />
        <binding name="AirRefundQuoteBinding" />
        <binding name="AirRefundTicketBinding" />
        <binding name="AirTicketingBinding" />
        <binding name="AirVoidDocumentBinding" />
        <binding name="AirRetrieveDocumentBinding" />
        <binding name="AirExchangeProcessBinding" />
        <binding name="AirExchangeQuoteBinding" />
        <binding name="AirExchangeTicketingBinding" />
        <binding name="AirMerchandisingOfferAvailabilityBinding" />
        <binding name="AirUpsellSearchBinding" />
        <binding name="FlightTimeTableBinding" />
        <binding name="AirPrePayBinding" />
        <binding name="EMDRetrieveBinding" />
        <binding name="EMDIssuanceBinding" />
        <binding name="AirMerchandisingDetailsBinding" />
        <binding name="FlightInfoBinding" />
        <binding name="FlightDetailsBinding" />
        <binding name="HotelSearchServiceBinding" />
        <binding name="HotelMediaLinksServiceBinding" />
        <binding name="HotelDetailsServiceBinding" />
        <binding name="HotelRetrieveServiceBinding" />
        <binding name="HotelRulesServiceBinding" />
        <binding name="HotelUpsellSearchServiceBinding" />
        <binding name="HotelSearchAvailabilityAsynchServiceBinding" />
        <binding name="HotelKeywordsServiceBinding" />
        <binding name="HotelSuperShopperServiceBinding" />
        <binding name="RetrieveHotelSearchAvailabilityServiceBinding" />
        <binding name="RailAvailabilitySearchBinding" />
        <binding name="RailRefundQuoteBinding" />
        <binding name="RailRefundBinding" />
        <binding name="RailExchangeQuoteBinding" />
        <binding name="RailExchangeCreateReservationBinding" />
        <binding name="RailSeatMapBinding" />
        <binding name="ExternalCacheAccessBinding" />
        <binding name="SystemPingBinding" />
        <binding name="SystemInfoBinding" />
        <binding name="SystemTimeBinding" />
        <binding name="UniversalRecordRetrieveServiceBinding" />
        <binding name="UniversalRecordHistorySearchServiceBinding" />
        <binding name="UniversalRecordSearchServiceBinding" />
        <binding name="AckScheduleChangeServiceBinding" />
        <binding name="UniversalRecordImportServiceBinding" />
        <binding name="UniversalRecordModifyServiceBinding" />
        <binding name="UniversalRecordCancelServiceBinding" />
        <binding name="ProviderReservationDisplayServiceBinding" />
        <binding name="ProviderReservationDivideServiceBinding" />
        <binding name="SavedTripCreateServiceBinding" />
        <binding name="SavedTripModifyServiceBinding" />
        <binding name="SavedTripRetrieveServiceBinding" />
        <binding name="SavedTripDeleteServiceBinding" />
        <binding name="SavedTripSearchServiceBinding" />
        <binding name="VehicleReservationServiceBinding" />
        <binding name="VehicleCancelServiceBinding" />
        <binding name="HotelReservationServiceBinding" />
        <binding name="HotelCancelServiceBinding" />
        <binding name="RailCreateReservationBinding" />
        <binding name="AirCreateReservationBinding" />
        <binding name="AirCancelBinding" />
        <binding name="AirMerchandisingFulfillmentBinding" />
        <binding name="PassiveReservationServiceBinding" />
        <binding name="PassiveCancelServiceBinding" />
        <binding name="VehicleSearchServiceBinding" />
        <binding name="VehicleRetrieveServiceBinding" />
        <binding name="VehicleLocationDetailBinding" />
        <binding name="VehicleRulesServiceBinding" />
        <binding name="VehicleKeywordsServiceBinding" />
        <binding name="VehicleLocationServiceBinding" />
        <binding name="VehicleUpsellSearchServiceBinding" />
        <binding name="VehicleMediaLinksServiceBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomServiceBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </textMessageEncoding>
          <httpsTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646"
            allowCookies="false" authenticationScheme="Basic" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false"
            maxBufferSize="2147483646" proxyAuthenticationScheme="Basic"
            transferMode="Buffered" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirRepriceSearchPortType" name="AirRepriceSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirScheduleSearchPortType" name="AirScheduleSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirLowFareSearchPortType" name="AirLowFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirLowFareSearchAsynchPortType" name="AirLowFareSearchAsynchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirRetrieveLowFareSearchPortType" name="AirRetrieveLowFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirPricePortType" name="AirPricePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirFareRulesPortType" name="AirFareRulesPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirAvailabilitySearchPortType" name="AirAvailabilitySearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirFareDisplayPortType" name="AirFareDisplayPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.SeatMapPortType" name="SeatMapPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirRefundQuotePortType" name="AirRefundQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirRefundTicketPortType" name="AirRefundTicketPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirTicketingPortType" name="AirTicketingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirVoidDocumentPortType" name="AirVoidDocumentPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirRetrieveDocumentPortType" name="AirRetrieveDocumentBindingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirExchangeProcessPortType" name="AirExchangeProcessPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirExchangeQuotePortType" name="AirExchangeQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirExchangeTicketingPortType" name="AirExchangeTicketingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirMerchandisingOfferAvailabilityPortType"
        name="AirMerchandisingOfferAvailabilityPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirUpsellSearchPortType" name="AirUpsellSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.FlightTimeTablePortType" name="FlightTimeTablePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirPrePayPortType" name="AirPrePayPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.EMDRetrievePortType" name="EMDRetrievePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.EMDIssuancePortType" name="EMDIssuancePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.AirMerchandisingDetailsPortType" name="AirMerchandisingDetailsPort" />
      <endpoint address="http://localhost:8080/kestrel/FlightService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.FlightInfoPortType" name="FlightInfoPort" />
      <endpoint address="http://localhost:8080/kestrel/FlightService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="AirService.FlightDetailsPortType" name="FlightDetailsPort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelSearchServicePortType" name="HotelSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelMediaLinksServicePortType" name="HotelMediaLinksServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelDetailsServicePortType" name="HotelDetailsServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelRetrieveServicePortType" name="HotelRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelRulesServicePortType" name="HotelRulesServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelUpsellSearchServicePortType" name="HotelUpsellSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelSearchAvailabilityAsynchServicePortType"
        name="HotelSearchAvailabilityAsynchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelKeywordsServicePortType" name="HotelKeywordsServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.HotelSuperShopperServicePortType" name="HotelSuperShopperServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService "
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="HotelService.RetrieveHotelSearchAvailabilityServicePortType"
        name="RetrieveHotelSearchAvailabilityServicePort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="RailService.RailAvailabilitySearchPortType" name="RailAvailabilitySearchPort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="RailService.RailRefundQuotePortType" name="RailRefundQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="RailService.RailRefundPortType" name="RailRefundPort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="RailService.RailExchangeQuotePortType" name="RailExchangeQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="RailService.RailExchangeCreateReservationPortType"
        name="RailExchangeCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="RailService.RailSeatMapPortType" name="RailSeatMapPort" />
      <endpoint address="http://localhost:8080/kestrel/ExternalCacheAccessService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.ExternalCacheAccessPortType" name="ExternalCacheAccessPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.SystemPingPortType" name="SystemPingPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.SystemInfoPortType" name="SystemInfoPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.SystemTimePortType" name="SystemtimePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.UniversalRecordRetrieveServicePortType"
        name="UniversalRecordRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordHistorySearchService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.UniversalRecordHistorySearchPortType"
        name="UniversalRecordHistorySearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.UniversalRecordSearchServicePortType"
        name="UniversalRecordSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ScheduleChangeService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.AckScheduleChangeServicePortType"
        name="AckScheduleChangeServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.UniversalRecordImportServicePortType"
        name="UniversalRecordImportServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.UniversalRecordModifyServicePortType"
        name="UniversalRecordModifyServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.UniversalRecordCancelServicePortType"
        name="UniversalRecordCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ProviderReservationDisplayService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.ProviderReservationDisplayServicePortType"
        name="ProviderReservationDisplayServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.ProviderReservationDivideServicePortType"
        name="ProviderReservationDivideServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripCreateService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.SavedTripCreateServicePortType" name="SavedTripCreateServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripModifyService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.SavedTripModifyServicePortType" name="SavedTripModifyServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripRetrieveService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.SavedTripRetrieveServicePortType"
        name="SavedTripRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripDeleteService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.SavedTripDeleteServicePortType" name="SavedTripDeleteServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripSearchService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.SavedTripSearchServicePortType" name="SavedTripSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.VehicleReservationServicePortType"
        name="VehicleReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.VehicleCancelServicePortType" name="VehicleCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.HotelReservationServicePortType"
        name="HotelReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.HotelCancelServicePortType" name="HotelCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.RailCreateReservationPortType" name="RailCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.AirCreateReservationPortType" name="AirCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.AirCancelPortType" name="AirCancelPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.AirMerchandisingFulfillmentPortType"
        name="AirMerchandisingFulfillmentPort" />
      <endpoint address="http://localhost:8080/kestrel/PassiveService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.PassiveReservationServicePortType"
        name="PassiveReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/PassiveService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalService.PassiveCancelServicePortType" name="PassiveCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleSearchServicePortType" name="VehicleSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleRetrieveServicePortType" name="VehicleRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleLocationDetailServicePortType"
        name="VehicleLocationDetailServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleRulesServicePortType" name="VehicleRulesServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleKeywordsServicePortType" name="VehicleKeywordsServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleLocationServicePortType" name="VehicleLocationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleUpsellSearchServicePortType"
        name="VehicleUpsellSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="VehicleService.VehicleMediaLinksServicePortType" name="VehicleMediaLinksServicePort" />
    </client>
  </system.serviceModel>
</configuration>
